<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, inital-scale=1.0" />
    <title>Test</title>

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      document.documentElement.classList.add("js");
    </script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              mintGreen: "#C5E0D8",
              silver: "#C9C9C9",
              aquamarine: "#444545",
            },
            keyframes: {
              slideIn: {
                "0%, 50%": { translate: "-50px" },
                "50%": { translate: "50px" },
              },
            },
            animation: {
              slideIn: "slideIn 1s ease-in-out",
            },
          },
        },
      };
    </script>
    <script type="text/javascript" src="https://livejs.com/live.js"></script>
  </head>
  <body class="bg-white my-4">
    <div class="flex flex-col items-center">
      <div
        class="flex flex-col text-2xl text-orange-950 p-4 animate-slideIn items-center justify-center"
        >
        <p>Your List todo!</p>
        <img
          hx-get="/modal-add-item"
          hx-target="#modals-here"
          hx-trigger="click"
          class="w-1/5 h-auto my-4 max-w-sm"
          src="./static/addItem.svg"
        />
        </div>
        <div >
        <div id="modals-here">
        
        </div>
      </div>

      <div
        class="bg-mintGreen w-3/4 h-auto aspect-square rounded-2xl max-h-fit py-4 mb-8"
        hx-get="/api/item"
        hx-trigger="load"
      ></div>
    </div>
    <script src="https://unpkg.com/taos@1.0.5/dist/taos.js"></script>
  </body>

  <script>
    AOS.init();
  </script>
</html>
