<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <title> Test </title>
  <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>  <script src="https://cdn.tailwindcss.com"></script>
  <script type="text/javascript" src="https://livejs.com/live.js"></script>
  </head>
  <body class="bg-white my-4">
    <div class="flex flex-col items-center">
      <p class="text-2xl text-orange-950" >
        Hello World!
      </p>
      <button class="bg-rose-400 w-1/4" hx-get="/item">
        Click me!
      </button>
    </div>
  </body>